@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
* {
    box-sizing: border-box;
    font-family: ubuntu;
  }
  
  body {
    padding: 10px;
    background: #7c2626;
  }
  
<<<<<<< HEAD
  /* Encabezado */
=======
  /* Header/Encabezado */
>>>>>>> 509eb3d6a4042055da73ed79be8e4180b09265ff
  .header {
    padding: 30px;
    text-align: center;
    background: rgb(248, 140, 140);
  }
  
  .header h1 {
    font-size: 50px;
    color: #851f1f;
  }
  
  /* estilo de la barra de navegación superior */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* estilo de los enlaces de la barra de navegacion */
  .topnav a {
    float: left;
    display: block;
    color: #75eba2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* cambio de color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Crear 2 columna distintas flotantes dentro de otra*/
  /* columna izq */
  .leftcolumn {   
    float: left;
    width: 75%;
    background: #7c2626;
  }
  
<<<<<<< HEAD
  /* columna dch */
=======
  /* Columna dch */
>>>>>>> 509eb3d6a4042055da73ed79be8e4180b09265ff
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
    background: #7c2626;
  }
  
  /* imagenes */
  .fakeimg {
    background-color: rgb(248, 140, 140);
    width: 100%;
    padding: 20px;
  }
  
<<<<<<< HEAD
  /* Añadir caracteristicas a los articulos  */
=======
  /* Articulos*/
>>>>>>> 509eb3d6a4042055da73ed79be8e4180b09265ff
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
<<<<<<< HEAD
  /* limpiar floats despues de las columnas */
=======
  /* filas */
>>>>>>> 509eb3d6a4042055da73ed79be8e4180b09265ff
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer/ Pie */
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(126, 72, 72);
    margin-top: 20px;
    color: rgb(248, 140, 140);
  }
  
<<<<<<< HEAD
  /*diseño Responsive  - cuando la pantalla tenga menos de 800px de ancho, haga q los enlaces de navegacion se apilen 1 encima de otro en lugar de 1 al otro lado*/
=======
  /*layout Adaptativo - cuando la pantalla tenga menos de 800 px de ancho, haga que los enlaces de navegación se apilen uno encima del otro en lugar de uno al lado del otro */
>>>>>>> 509eb3d6a4042055da73ed79be8e4180b09265ff
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
<<<<<<< HEAD
  /* diseño Responsive - cuando la pantalla tenga menos de 400px de ancho, haga q los enlaces de navegacion se apilen 1 encima de otro en lugar de 1 al otro lado */
=======
  /* layout Adaptativo- cuando la pantalla tenga menos de 400 px de ancho, haga que los enlaces de navegación se apilen uno encima del otro en lugar de uno al lado del otro*/
>>>>>>> 509eb3d6a4042055da73ed79be8e4180b09265ff
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  
  .retrato{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .cachorro{
    height: 100%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }